<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="2">Action</th>
    </tr>
    <%# @articles.each do |article| %>
    <% obj.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td>
          <%= truncate(article.description, length: 50) %>
          <small class="articles-meta-details">Created by: <%= article.user.username if article.user %>,
            <%= time_ago_in_words(article.created_at) if article.user %> ago,
            last updated: <%= time_ago_in_words(article.updated_at) if article.user %> ago
          </small>
        </td>
        <% if logged_in? && current_user == article.user %>
          <td><%= link_to 'Edit', edit_article_path(article), class: "btn btn-md btn-primary" %></td>
          <td><%= link_to 'Delete', article_path(article), class: "btn btn-md btn-danger" , method: :delete, data:{confirm: "Are you sure to delete?"} %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>